#include <windows.h>

#include <ntverp.h>

#define VER_FILETYPE                VFT_APP
#define VER_FILESUBTYPE             VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "Installer for OpenCBM Parallel Port Driver"
#define VER_INTERNALNAME_STR        "instcbm.exe"

#include "version.common.h"
#include "common.ver"
