#include <windows.h>

#include <ntverp.h>

#define VER_FILETYPE                VFT_DRV
#define VER_FILESUBTYPE             VFT2_DRV_SYSTEM
#define VER_FILEDESCRIPTION_STR     "CBM4WDM Parallel Port Driver, WDM version"
#define VER_INTERNALNAME_STR        "cbm4wdm.sys"

#include "version.common.h"
#include "common.ver"

#include "../../libcommon/cbmlog.rc"
