#include <windows.h>

#include <ntverp.h>

#define VER_FILETYPE                VFT_APP
#define VER_FILESUBTYPE             VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "rpm1541 demo program for OpenCBM Parallel Port Driver"
#define VER_INTERNALNAME_STR        "rpm1541.exe"

#include "version.common.h"
#include "common.ver"
